
/.vs/SimpleSocialNetwork/v15/.suo
/.vs/SimpleSocialNetwork/v15/Server/sqlite3/storage.ide-shm
/.vs/SimpleSocialNetwork/v15/Server/sqlite3/storage.ide-wal
/SimpleSocialNetwork/bin/Debug/netcoreapp2.2/SimpleSocialNetwork.dll
/SimpleSocialNetwork/bin/Debug/netcoreapp2.2/SimpleSocialNetwork.pdb
/SimpleSocialNetwork/bin/Debug/netcoreapp2.2/SimpleSocialNetwork.Views.dll
/SimpleSocialNetwork/bin/Debug/netcoreapp2.2/SimpleSocialNetwork.Views.pdb
/SimpleSocialNetwork/obj/Debug/netcoreapp2.2/Razor/Views/Home/EditProfile.g.cshtml.cs
/SimpleSocialNetwork/obj/Debug/netcoreapp2.2/Razor/Views/Home/UserProfile.g.cshtml.cs
/SimpleSocialNetwork/obj/Debug/netcoreapp2.2/SimpleSocialNetwork.dll
/SimpleSocialNetwork/obj/Debug/netcoreapp2.2/SimpleSocialNetwork.pdb
/SimpleSocialNetwork/obj/Debug/netcoreapp2.2/SimpleSocialNetwork.Views.dll
/SimpleSocialNetwork/obj/Debug/netcoreapp2.2/SimpleSocialNetwork.Views.pdb
