@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    
    <p>This is the <b>Simple Social Network</b> application based on ASP.NET Core MVC, EF Core and MS SQL Server.</p>
    
    <p>To enter into your user profile please try to <b>login</b>, either you can try to <b>register</b> new account.</p>
    
    <p>Also you can learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
